@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-gutter-x: 1.5rem;
}

.title-size {
  font-size: calc(1.325rem + 0.9vw);
}

.padx {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}

.padx75 {
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
}
