@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-gutter-x: 1.5rem;
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}

.title-size {
  font-size: calc(1.325rem + 0.9vw);
}

.padx {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}

.padx75 {
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
}

.select-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.select-bg-b2b {
  height: 30px !important;
  padding: 6px 12px !important;
  font-size: 12px !important;
  width: 100%;
  line-height: 1.2 !important;
  background-color: #e9ecef;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 1px solid;
  border-color: #dee2e6;
  border-spacing: 2px;
}

.table-input {
  display: block;
  height: 26px;
  width: 100%;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-img {
  background-image: url(https://payment.bankrakyat.com.my/fpxonline/fpxui/css/images/frame-bg-header.png);
  background-size: contain;
  background-repeat: repeat;
}

.example-print {
  display: none;
}

.navbar {
  margin-bottom: 0px !important;
  display: block;
}

.navbar {
  min-height: auto;
  margin: 0;
  padding: 0;
  background-image: none !important;
}

.navbar-ibiz:after {
  background-color: #fff;
}

.navContainer {
  padding: 5px 15px;
}

.ibiz-logo {
  height: 50px;
  padding-left: 10%;
}

.bkr-logo {
  height: 100px;
  padding-right: 10%;
}
.pull-right {
  float: right !important;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h-between {
  min-height: calc(100vh - 150px - 160px);
}

.h-between-ml {
  min-height: calc(100vh - 170px - 180px);
}

.h-between-b2b {
  min-height: calc(100vh - 102px - 137.5px);
}

.h-between-b2b-ml {
  min-height: calc(100vh - 128.14px - 205px);
}

@media print {
  .hide-when-print {
    display: none !important;
  }
  .non-printable > * {
    display: none;
  }
  .example-print {
    display: block !important;
    margin-top: 30px;
  }
  @page {
    margin-left: 0.3in;
    margin-right: 0.3in;
    margin-top: 0;
    margin-bottom: 0.2in;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .separatorLine {
    height: 5px;
    margin-bottom: 15px;
    background-color: #000;
  }
  .paymentLabel {
    text-align: end;
  }
  label.paymentLabel.paymentLabelAdd.col-xl-4.col-lg-4.col-md-4.col-12 {
    width: 33.33333333%;
    padding-right: 1%;
  }
  div.paymentLabelAdd.col-xl-8.col-lg-8.col-md-8.col-12 {
    width: 66.66666667%;
    text-align: start;
  }
}
